.btn-sharp{
    border-radius: 0;
}
ul {
    list-style: none; /* Remove default bullets */
    padding-left: 20px; /* Remove padding */
}
.custlist img{
    max-width: 20px
}

.margin-cust{
    margin-left: 100px;
}
.smalltxt{
    font-size: 9px ;


}
.custheadtxt{
    font-size: 14px;
}
.custpadding{
    padding-left: 45%;
}

.section {
    margin-bottom: 20px;
  }
  
  .section-title {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .expand-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .section-content {
    margin-left: 20px; /* Indent content for readability */
  }
  
  .custtoppadding{
    padding-top: 100px;
  }