.btn-sharp{
    border-radius: 0;
}
ul {
    list-style: none; /* Remove default bullets */
    padding-left: 0; /* Remove padding */
}
.custlist {
    position: relative; /* Positioning for the check circle */
    padding-left: 30px; /* Space for the check circle */
    margin-bottom: 10px; /* Space between list items */
}
.custlist::before {
    content: '✓'; /* Check circle character */
    position: absolute;
    left: 0; /* Position it at the start */
    color: green; /* Color of the check circle */
    font-weight: bold; /* Make it bold */
}

.margin-cust{
    margin-left: 100px;
}
.smalltxt{
    font-size: 9px ;


}
.custheadtxt{
    font-size: 14px;
}
.custpadding{
    padding-left: 45%;
}

.section {
    margin-bottom: 20px;
  }
  
  .section-title {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .expand-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .section-content {
    margin-left: 20px; /* Indent content for readability */
  }